In [62]:
import pandas as pd # read and wrangle dataframes
import matplotlib.pyplot as plt# visualization
import numpy as np # linear algebra
import seaborn as sns # statistical visualizations and aesthetics
from sklearn.base import TransformerMixin # To create new classes for transformations
from sklearn.preprocessing import (FunctionTransformer, StandardScaler) # preprocessing 
from sklearn.decomposition import PCA # dimensionality reduction
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis as LDA
from scipy.stats import boxcox # data transform
from sklearn.model_selection import (train_test_split, KFold , StratifiedKFold, 
                                     cross_val_score, GridSearchCV, 
                                     learning_curve, validation_curve) 
from sklearn.metrics import accuracy_score
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC # model selection modules
from sklearn.pipeline import Pipeline # streaming pipelines
from sklearn.base import BaseEstimator, TransformerMixin # To create a box-cox transformation class
from collections import Counter
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.svm import SVR
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.ensemble import RandomForestRegressor
import warnings
warnings.filterwarnings("ignore")

In [2]:
# importing Dataset 
df=pd.read_csv('Grades.csv')

df.head()

,Seat No.,PH-121,HS-101,CY-105,HS-105/12,MT-111,CS-105,CS-106,EL-102,EE-119,...,CS-312,CS-317,CS-403,CS-421,CS-406,CS-414,CS-419,CS-423,CS-412,CGPA
0,CS-97001,B-,D+,C-,C,C-,D+,D,C-,B-,...,C-,C-,C-,C-,A-,A,C-,B,A-,2.205
1,CS-97002,A,D,D+,D,B-,C,D,A,D+,...,D+,D,C,D,A-,B-,C,C,B,2.008
2,CS-97003,A,B,A,B-,B+,A,B-,B+,A-,...,B,B,A,C,A,A,A,A-,A,3.608
3,CS-97004,D,C+,D+,D,D,A-,D+,C-,D,...,D+,C,D+,C-,B-,B,C+,C+,C+,1.906
4,CS-97005,A-,A-,A-,B+,A,A,A-,B+,A,...,B-,B+,B+,B-,A-,A,A-,A-,A,3.448

In [3]:
#checking null values
df.isnull().sum()

Seat No.      0
PH-121        0
HS-101        0
CY-105        1
HS-105/12     1
MT-111        2
CS-105        0
CS-106        2
EL-102        2
EE-119        2
ME-107        2
CS-107        2
HS-205/20     5
MT-222        5
EE-222        7
MT-224        7
CS-210        7
CS-211        5
CS-203        5
CS-214        6
EE-217        6
CS-212        6
CS-215        6
MT-331        9
EF-303       10
HS-304       10
CS-301       10
CS-302       10
TC-383       10
MT-442       10
EL-332        9
CS-318        9
CS-306        9
CS-312       10
CS-317       12
CS-403       12
CS-421       12
CS-406       85
CS-414       13
CS-419       13
CS-423       14
CS-412       79
CGPA          0
dtype: int64

In [4]:
df.dtypes

Seat No.      object
PH-121        object
HS-101        object
CY-105        object
HS-105/12     object
MT-111        object
CS-105        object
CS-106        object
EL-102        object
EE-119        object
ME-107        object
CS-107        object
HS-205/20     object
MT-222        object
EE-222        object
MT-224        object
CS-210        object
CS-211        object
CS-203        object
CS-214        object
EE-217        object
CS-212        object
CS-215        object
MT-331        object
EF-303        object
HS-304        object
CS-301        object
CS-302        object
TC-383        object
MT-442        object
EL-332        object
CS-318        object
CS-306        object
CS-312        object
CS-317        object
CS-403        object
CS-421        object
CS-406        object
CS-414        object
CS-419        object
CS-423        object
CS-412        object
CGPA         float64
dtype: object

In [5]:
df.shape

(571, 43)

In [6]:
df['CGPA'].unique()

array([2.205, 2.008, 3.608, 1.906, 3.448, 3.026, 2.957, 3.043, 3.358,
       3.247, 2.681, 3.281, 2.792, 3.523, 3.443, 2.777, 3.248, 1.787,
       3.572, 3.483, 2.246, 2.956, 2.953, 3.586, 3.475, 2.228, 3.44 ,
       2.188, 3.195, 2.294, 3.133, 3.22 , 3.112, 3.16 , 3.019, 3.164,
       3.332, 2.165, 3.7  , 3.033, 2.696, 2.851, 3.058, 1.493, 2.069,
       1.996, 3.897, 3.848, 3.404, 2.254, 2.655, 3.106, 2.793, 3.023,
       3.01 , 3.4  , 1.899, 3.168, 2.57 , 2.418, 2.564, 2.468, 3.769,
       2.999, 2.768, 2.822, 3.189, 2.715, 3.578, 3.49 , 2.805, 3.458,
       2.34 , 3.252, 2.683, 3.378, 3.295, 3.193, 3.647, 2.815, 2.171,
       3.761, 2.763, 2.938, 2.06 , 1.261, 2.378, 2.861, 2.363, 2.084,
       1.38 , 1.89 , 3.861, 1.805, 3.925, 3.919, 3.258, 3.963, 2.396,
       3.772, 1.768, 3.176, 3.335, 3.758, 3.208, 1.845, 3.946, 2.3  ,
       3.759, 3.516, 2.087, 3.137, 2.011, 2.566, 1.993, 3.334, 2.056,
       2.552, 2.028, 2.58 , 3.651, 2.928, 2.659, 3.174, 3.03 , 2.208,
       2.698, 2.823, 2.407, 2.379, 2.579, 2.711, 1.714, 2.653, 1.749,
       1.708, 3.363, 1.763, 2.943, 1.   , 3.906, 3.873, 3.217, 2.603,
       3.625, 3.366, 3.513, 2.631, 3.365, 2.936, 3.254, 3.662, 3.182,
       3.114, 3.725, 3.261, 3.5  , 3.571, 3.227, 2.918, 3.672, 3.241,
       2.982, 3.246, 2.35 , 2.947, 2.394, 3.723, 3.266, 2.528, 3.369,
       3.044, 3.076, 2.749, 3.074, 3.736, 2.311, 2.971, 3.585, 2.053,
       2.895, 2.634, 2.352, 2.042, 2.555, 3.882, 3.844, 2.253, 3.705,
       3.451, 3.425, 1.992, 2.648, 2.608, 3.623, 3.373, 2.347, 3.094,
       3.597, 3.809, 2.857, 1.719, 3.645, 2.717, 3.345, 2.129, 3.075,
       2.931, 1.909, 2.942, 3.325, 2.212, 2.621, 2.76 , 3.229, 3.269,
       3.664, 2.756, 2.644, 2.462, 2.701, 3.727, 3.042, 3.754, 2.948,
       2.206, 3.353, 3.573, 3.267, 2.595, 3.593, 3.271, 2.605, 2.687,
       3.432, 2.785, 3.328, 2.44 , 3.512, 1.764, 3.479, 3.447, 3.751,
       2.484, 2.704, 2.806, 3.755, 2.925, 3.54 , 2.388, 3.473, 2.845,
       3.555, 2.854, 3.055, 2.391, 2.619, 1.905, 2.009, 2.705, 2.408,
       2.298, 3.521, 1.092, 2.086, 3.972, 3.856, 0.998, 3.943, 3.071,
       3.605, 3.653, 1.876, 3.668, 2.791, 1.919, 2.775, 2.654, 3.416,
       3.017, 3.656, 3.798, 2.736, 3.156, 3.84 , 3.318, 2.922, 2.196,
       3.659, 3.167, 3.418, 2.729, 3.737, 3.06 , 3.476, 2.191, 2.266,
       3.33 , 1.886, 2.914, 3.574, 1.955, 2.003, 3.259, 3.641, 2.599,
       2.716, 2.995, 1.936, 3.615, 2.488, 3.408, 2.49 , 1.804, 2.88 ,
       3.184, 2.984, 2.384, 2.236, 3.09 , 3.689, 3.396, 3.714, 1.713,
       3.387, 3.492, 3.392, 3.694, 3.253, 3.806, 3.477, 3.389, 3.82 ,
       3.063, 3.226, 3.721, 3.795, 3.485, 3.437, 2.512, 3.618, 3.631,
       3.707, 3.491, 2.478, 3.554, 2.557, 2.525, 3.621, 3.442, 2.8  ,
       1.826, 2.611, 1.658, 2.559, 3.245, 2.75 , 3.037, 3.395, 3.136,
       3.155, 2.128, 3.205, 2.574, 2.451, 2.321, 2.328, 2.548, 2.636,
       2.779, 2.343, 2.274, 2.04 , 2.034, 2.505, 2.26 , 3.103, 1.951,
       2.773, 3.765, 3.356, 3.29 , 1.949, 1.747, 1.835, 3.207, 3.741,
       3.985, 2.917, 3.424, 2.784, 2.699, 3.481, 3.014, 3.559, 3.73 ,
       3.831, 3.219, 3.756, 2.891, 3.179, 2.424, 2.737, 1.989, 1.882,
       3.908, 3.58 , 2.935, 1.923, 2.612, 2.334, 3.942, 3.405, 3.843,
       3.339, 3.818, 3.607, 3.528, 3.149, 2.264, 2.035, 2.706, 3.876,
       3.111, 3.211, 2.414, 3.099, 2.444, 1.896, 2.87 , 3.648, 3.868,
       3.303, 3.015, 2.442, 2.602, 3.35 , 3.878, 3.576, 3.346, 3.583,
       3.97 , 3.949, 3.763, 2.782, 3.863, 3.711, 3.107, 3.116, 3.056,
       3.24 , 2.288, 2.489, 3.027, 2.776, 1.953, 3.272, 2.951, 2.96 ,
       1.863, 1.806, 2.576, 2.941, 1.957, 3.734, 3.566, 3.068, 3.679,
       3.504, 3.386, 3.499, 3.452, 3.696, 3.816, 3.029, 2.146, 2.86 ,
       2.359, 3.218, 2.406, 3.624, 2.429, 3.172, 2.37 , 2.828, 2.821,
       2.607, 0.8  , 3.47 , 2.193, 1.753])

In [8]:
df.describe()

             CGPA
count  571.000000
mean     2.954888
std      0.620552
min      0.800000
25%      2.538000
50%      3.029000
75%      3.451000
max      3.985000

In [11]:
missing_percentage = df.isnull().mean() * 100
missing_percentage

Seat No.      0.000000
PH-121        0.000000
HS-101        0.000000
CY-105        0.175131
HS-105/12     0.175131
MT-111        0.350263
CS-105        0.000000
CS-106        0.350263
EL-102        0.350263
EE-119        0.350263
ME-107        0.350263
CS-107        0.350263
HS-205/20     0.875657
MT-222        0.875657
EE-222        1.225919
MT-224        1.225919
CS-210        1.225919
CS-211        0.875657
CS-203        0.875657
CS-214        1.050788
EE-217        1.050788
CS-212        1.050788
CS-215        1.050788
MT-331        1.576182
EF-303        1.751313
HS-304        1.751313
CS-301        1.751313
CS-302        1.751313
TC-383        1.751313
MT-442        1.751313
EL-332        1.576182
CS-318        1.576182
CS-306        1.576182
CS-312        1.751313
CS-317        2.101576
CS-403        2.101576
CS-421        2.101576
CS-406       14.886165
CS-414        2.276708
CS-419        2.276708
CS-423        2.451839
CS-412       13.835377
CGPA          0.000000
dtype: float64

In [13]:
cols_to_drop = missing_percentage[missing_percentage > 20].index
cols_to_drop

Index([], dtype='object')

In [52]:
df_cleaned = df.drop(columns=cols_to_drop)
df_cleaned

,Seat No.,PH-121,HS-101,CY-105,HS-105/12,MT-111,CS-105,CS-106,EL-102,EE-119,...,CS-312,CS-317,CS-403,CS-421,CS-406,CS-414,CS-419,CS-423,CS-412,CGPA
0,CS-97001,B-,D+,C-,C,C-,D+,D,C-,B-,...,C-,C-,C-,C-,A-,A,C-,B,A-,2.205
1,CS-97002,A,D,D+,D,B-,C,D,A,D+,...,D+,D,C,D,A-,B-,C,C,B,2.008
2,CS-97003,A,B,A,B-,B+,A,B-,B+,A-,...,B,B,A,C,A,A,A,A-,A,3.608
3,CS-97004,D,C+,D+,D,D,A-,D+,C-,D,...,D+,C,D+,C-,B-,B,C+,C+,C+,1.906
4,CS-97005,A-,A-,A-,B+,A,A,A-,B+,A,...,B-,B+,B+,B-,A-,A,A-,A-,A,3.448
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
566,CS-97567,B,A,A,A-,A+,A,A-,A-,A+,...,A-,A-,A,A,A,B+,B+,B,A,3.798
567,CS-97568,A+,A,A,A,A,A,A,A-,A,...,B+,B+,A,A,A-,B,A-,C,A-,3.772
568,CS-97569,B,A,A-,B+,A,A,A,A,A,...,A-,B,A,B+,A,C,B+,A-,A-,3.470
569,CS-97570,A,B+,D,A,D,D+,B-,C-,B-,...,D,B,B,C-,D,C,B,B-,C,2.193
570,CS-97571,C,D,D,C,C,D+,B,C+,C,...,C+,C,B-,D,F,C-,B+,D,C-,1.753

In [57]:
grade_mapping = {
    'A': 4.0, 'A-': 3.7, 'B+': 3.3, 'B': 3.0, 'B-': 2.7,
    'C+': 2.3, 'C': 2.0, 'C-': 1.7, 'D+': 1.3, 'D': 1.0,
    'D-': 0.7, 'F': 0.0, '': None  # Handle empty strings as None (missing)
}
for col in df_cleaned.columns:
    if col not in ['Seat No.', 'CGPA']:
        df_cleaned[col] = df_cleaned[col].map(grade_mapping)

In [58]:
df_cleaned.fillna(0, inplace=True)  # Assuming missing grades can be treated as 0 (F)

In [59]:
X = df_cleaned.drop(columns=['Seat No.', 'CGPA'])
y = df_cleaned['CGPA']

In [60]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [63]:
#Linear Regression model
lin_reg = LinearRegression()
lin_reg.fit(X_train, y_train)
y_pred_lin = lin_reg.predict(X_test)

In [64]:
#Decision Tree model
dt_reg = DecisionTreeRegressor(random_state=42)
dt_reg.fit(X_train, y_train)
y_pred_dt = dt_reg.predict(X_test)

In [65]:
#Random Forest model
rf_reg = RandomForestRegressor(random_state=42, n_estimators=100)
rf_reg.fit(X_train, y_train)
y_pred_rf = rf_reg.predict(X_test)

In [66]:
#Support Vector Machine model
svm_reg = SVR()
svm_reg.fit(X_train, y_train)
y_pred_svm = svm_reg.predict(X_test)

In [67]:
mse_lin = mean_squared_error(y_test, y_pred_lin)
r2_lin = r2_score(y_test, y_pred_lin)

mse_dt = mean_squared_error(y_test, y_pred_dt)
r2_dt = r2_score(y_test, y_pred_dt)

mse_rf = mean_squared_error(y_test, y_pred_rf)
r2_rf = r2_score(y_test, y_pred_rf)

mse_svm = mean_squared_error(y_test, y_pred_svm)
r2_svm = r2_score(y_test, y_pred_svm)

# Output the evaluation metrics
print('Linear Regression:')
print(f'Mean Squared Error (MSE): {mse_lin}')
print(f'R-squared (R²) score: {r2_lin}\n')

print('Decision Tree Regressor:')
print(f'Mean Squared Error (MSE): {mse_dt}')
print(f'R-squared (R²) score: {r2_dt}\n')

print('Random Forest Regressor:')
print(f'Mean Squared Error (MSE): {mse_rf}')
print(f'R-squared (R²) score: {r2_rf}\n')

print('Support Vector Machine Regressor:')
print(f'Mean Squared Error (MSE): {mse_svm}')
print(f'R-squared (R²) score: {r2_svm}')

Linear Regression:
Mean Squared Error (MSE): 0.07220031545959081
R-squared (R²) score: 0.7830438177216521

Decision Tree Regressor:
Mean Squared Error (MSE): 0.05983007826086955
R-squared (R²) score: 0.8202153926576958

Random Forest Regressor:
Mean Squared Error (MSE): 0.027846917776521676
R-squared (R²) score: 0.9163222358440448

Support Vector Machine Regressor:
Mean Squared Error (MSE): 0.020978620383868014
R-squared (R²) score: 0.9369609210295198